// Import page-specific CSS files here.
@import "home";
@import "show";
@import "pokemon_new";


.cheap {
  background-image: asset_url("pokeball.png")
}

.moderate {
  background-image: asset_url("blue_pokeball.jpeg")
}

.expensive {
  background-image: asset_url("brown_pokeball.png")
}

.box {
  display: none;

}

body {
  padding-top: 80px;
}

a {
  color:black;
}

a:hover {
  color: #378484;
}


#pokemon-search {
  width:100%;
}

.card-img {
  background-size: cover;
  width: 150px;
  height: 150px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
}
