.select2-selection--single {
  width: 100%;
  height: 38px !important;
  border-radius: 0px !important;
}

#select2-pokemon_name-container {
  line-height: 36px !important;
}

.select2-selection__arrow {
  top: 6px !important;
}
