<div id="landing-header">
  <h1>do you like to play poke?</h1>
  <input id="landing-input" type="text" placeholder="Find your favourite pokemon today...">
  <div id='btn-container'>
    <%= link_to 'Search', pokemons_path, id:'search-btn' %>
  </div>
</div>
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>



