<div class="container">
  <h3>Your Reviews</h3>
  <div class="card-container">
    <% @pokemon.reviews.each do |review| %>
      <div class="card-product p-3">
        <div class="card-product-infos">
          <div class="row">
            <div class="col justify-around">


            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
